/* locate the position of the buttons */
#bottom-positioner {
	position: absolute;
	left: 43%;
	bottom: 46%;
}

#button {
	width: 200px;
	height: 250px;
	visibility: hidden;
	position: fixed;
	/* in order to show the transition when we not hover */
	transition: visibility 1s ease-out;
}

/* the general setting of the ul */
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#info-bar {
	/* decoration */
	border-radius: 100px;
	background-color: gray;
	width: 125px;
	height: 125px;
	opacity: 0;
	/* position */
	position: absolute;
	left: 20%;
	/* animation */
	-webkit-transform: translateY(70%) scale(0.1);
	-moz-transform: translateY(70%) scale(0.1);
	-o-transform: translateY(70%) scale(0.1);
	transform: translateY(70%) scale(0.1);
	-webkit-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	-moz-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	-o-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* the position of the children of info-bar */
.user, .comment, .mine {
	position: absolute;
}

.user {
	left: 30%;
	top: 8%
}

.comment {
	top: 34%;
	left: 27%;
}

.posted {
	top: 61%;
	left: 15%;
}

.like {
	top: 61%;
	right: 30%;
}

/* the text designed of the children of info-bar */
.user span {
	/* decoration */
	color: white;
	font-weight: bold;
	font-size: 17pt;
	/* position */
	position: absolute;
	right: -100%;
	top: -13%;
}

.comment span {
	/* position */
	position: absolute;
	right: -117%;
	bottom: 3%;
	/* decoration */
	font-weight: bold;
	font-size: 23pt;
	color: white;
}

.posted span {
	/* position */
	position: absolute;
	right: -73%;
	/* decoration */
	font-size: 17pt;
	font-weight: bold;
	color: #079E6E;
}

.like span {
	/* position */
	position: absolute;
	right: -65%;
	bottom: 9%;
	/* decoration */
	font-weight: bold;
	font-size: 17pt;
	color: #079E6E;
}

/* the designed of the control-ring-container */
#control-ring-container {
	/* positiont */
	position: relative;
	left: 0%;
	top: 42%;
	/* decoration */
	height: 150px;
	opacity: 0;
	/* animation */
	-webkit-transform: translate(5%, -10%) scale(0.3);
	-moz-transform: translate(5%, -10%) scale(0.3);
	-o-transform: translate(5%, -10%) scale(0.3);
	transform: translate(5%, -10%) scale(0.3);
	-webkit-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	-moz-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	-o-transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* the designed of the children of the control-ring-container */
.button {
	border-radius: 50px;
	background-color: gray;
	padding: 8px;
	width: 22px;
	height: 22px;
}

.button img {
	opacity: 0;
}

.unread {
	/* decoration */
	border-radius: 50px;
	background-color: red;
	color: white;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 7px;
	padding-right: 7px;
	opacity: 0;
	/* position */
	position: absolute;
	left: 65%;
	top: -20%;
}

/* the position of the children of the control-ring-container */
.mask {
	position: absolute;
	left: 10%;
	top: 1%;
}

.history {
	position: absolute;
	left: 4%;
	top: 29%;
}

.message {
	position: absolute;
	left: 14%;
	top: 55%;
}

.setting {
	position: absolute;
	left: 36%;
	top: 70%;
}

.sign {
	position: absolute;
	left: 60%;
	top: 65%;
}

/* the designed of the @+ icon */
.slogo {
	/* decoration */
	border-radius: 50px;
	background-color: #93ADCA;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 3px;
	padding-right: 3px;
	width: 23px;
	visibility: visible;
	/* position */
	position: absolute;
	left: 46%;
	top: 57%;
}

.blogo {
	/* decoration */
	border-radius: 50px;
	background-color: rgba(48, 63, 159, 1);
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 7px;
	padding-right: 7px;
	width: 36px;
	height: 28px;
	opacity: 0;
	/* position */
	position: absolute;
	left: 41%;
	top: 53%;
	/* animation */
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-transition: transform 0.6s ease-out 0.4s, opacity 0.6s ease-out 0.4s;
	-moztransition: transform 0.6s ease-out 0.4s, opacity 0.6s ease-out 0.4s;
	-o-transition: transform 0.6s ease-out 0.4s, opacity 0.6s ease-out 0.4s;
	transition: transform 0.6s ease-out 0.4s, opacity 0.6s ease-out 0.4s;
}

/* the transition part of this homework */
#button:hover {
	visibility: visible;
}

#button:hover #info-bar {
	opacity: 1;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
	-webkit-transition: transform 0.5s ease-in 0.3s, opacity 0.3s ease-in 0.1s;
	-moztransition: transform 0.5s ease-in 0.3s, opacity 0.3s ease-in 0.1s;
	-o-transition: transform 0.5s ease-in 0.3s, opacity 0.3s ease-in 0.1s;
	transition: transform 0.5s ease-in 0.3s, opacity 0.3s ease-in 0.1s;
}

#button:hover #control-ring-container {
	opacity: 1;
	-webkit-transform: translate(0%, 0%) scale(1);
	-moz-transform: translate(0%, 0%) scale(1);
	-o-transform: translate(0%, 0%) scale(1);
	transform: translate(0%, 0%) scale(1);
	-webkit-transition: transform 0.6s ease-in 0.2s, opacity 0.7s ease-in 0.1s;
	-moztransition: transform 0.6s ease-in 0.2s, opacity 0.7s ease-in 0.1s;
	-o-transition: transform 0.6s ease-in 0.2s, opacity 0.7s ease-in 0.1s;
	transition: transform 0.6s ease-in 0.2s, opacity 0.7s ease-in 0.1s;
}

#button:hover .blogo {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 0.8s ease-in, opacity 0.3s ease-in;
	-moz-transition: transform 0.8s ease-in, opacity 0.3s ease-in;
	-o-transition: transform 0.8s ease-in, opacity 0.3s ease-in;
	transition: transform 0.8s ease-in, opacity 0.3s ease-in;
}

#button:hover .button img {
	opacity: 1;
}

#button:hover .unread {
	opacity: 1;
}