/*大布局*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#at-plus-container {
	position: relative;
	width: 180px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#bottom-positioner {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*info-bar 布局*/
#info-bar {
	position: absolute;
	bottom: 97px;
	left: 77px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #7E7E7E;
	opacity: 0;
	transition: all 0.5s;
}

#button:hover #info-bar {
	bottom: 150px;
	left: 25px;
	height: 130px;
	width: 130px;
	opacity: 1;
}

/*info-bar 细节*/
#info-bar ul {
	margin: 0px;
	padding: 0px;
}

#info-bar li {
	list-style: none;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: 0;
	color: white;
}

#info-bar li img {
	vertical-align: middle;
}

#info-bar li span {
	font-weight: bold;
	margin-left: 7px;
}

#info-bar li.mine {
	display: inline-block;
	width: 50%;
	color: #26E79E;
	box-sizing: border-box;
}

#info-bar li.posted {
	padding-left: 15px;
}

#info-bar li.comment {
	font-size: 30px;
}

/*control-ring-container 布局*/
#control-ring-container {
	position: absolute;
	bottom: 20px;
	left: 0px;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

/*control-ring-container 细节*/
#control-ring li {
	position: absolute;
	display: block;
	list-style: none;
	height: 32px;
	width: 32px;
	margin-top: 60px;
	margin-left: 35px;
	background-color: #686868;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.5s;
}

#control-ring img {
	position: absolute;
	left: 7px;
	top: 7px;
	height: 18px;
	width: 18px;
	opacity: 0;
}

#button:hover #control-ring li {
	opacity: 1;
}

#button:hover #control-ring img {
	opacity: 1;
}

#button:hover #control-ring .mask {
	margin-top: 22px;
	margin-left: -31px;
}

#button:hover #control-ring .history {
	margin-top: 62px;
	margin-left: -40px;
}

#button:hover #control-ring .message {
	margin-top: 103px;
	margin-left: -25px;
}

#button:hover #control-ring .setting {
	margin-top: 128px;
	margin-left: 10px;
}

#button:hover #control-ring .sign {
	margin-top: 130px;
	margin-left: 53px;
}

#control-ring li span.unread {
	display: block;
	position: absolute;
	top: -5px;
	right: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	color: white;
	text-align: center;
	opacity: 0;
}

#button:hover .unread {
	opacity: 1;
}

/*button 布局*/
#button {
	width: 70px;
	height: 70px;
	margin: 75px 55px;
	visibility: hidden;
}

#button:hover {
	visibility: visible;
}

/*apb 细节*/
#button .apb {
	position: absolute;
	bottom: 97px;
	left: 77px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-image: url(assets/images/atplus_white.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 15px;
	background-color: #989FCF;
	visibility: visible;
	transition: all 0.5s ease-out 0.5s;
}

#button:hover .apb {
	bottom: 85px;
	left: 65px;
	height: 50px;
	width: 50px;
	background-image: url(assets/images/atplus_green.png);
	background-position: center;
	background-size: 40px 30px;
	background-color: rgba(48, 63, 159, 1);
	transition: all 0.5s;
}